<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Add new Assignee</title>
</head>
<body>
<nav th:replace="navbar.html :: navbar"></nav>
<div class="container" style="margin-top: 2em">
    <h1>Add new Assignee</h1>
    <form action="/todo/assignees/add" method="post" >
        <label for="assignee">New Assignee:</label>
        <input id="assignee" name="assignee" type="text" required><br>
        <label for="email">Urgent</label>
        <input type="text" id="email" name="email" required><br>
        <button type="submit">Submit</button>
    </form>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>